DOTENV_CONFIG_QUIET=true
GOOGLE_GENERATIVE_AI_API_KEY="your-api-key"
OPENAI_API_KEY="your-api-key"
OPENAI_API_BASE_URL="http://localhost:1234/v1"
LANGFUSE_SECRET_KEY="sk-...""
LANGFUSE_PUBLIC_KEY="pk-...""
LANGFUSE_BASE_URL="https://jp.cloud.langfuse.com"
