DOTENV_CONFIG_QUIET=true
GOOGLE_GENERATIVE_AI_API_KEY=your-api-key
OPENAI_API_KEY=your-api-key
OPENAI_API_BASE_URL=http://localhost:1234/v1
USE_WEAVE=false
WANDB_API_KEY=your-api-key
WANDB_PROJECT_NAME=your-project-name
WANDB_TEAM_NAME=your-team-name
